doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title nodejs-lti-provider
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='nodejs-lti-provider')
    meta(name='author', content='Kyle Martin')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-lg
      .container
        a.navbar-brand Node.js LTI demo
    .container
      .row
        .col-lg-12.text-center
          h1.mt-5 Welcome, #{username}
          p.lead You have come from #{ltiConsumer} where your userId is #{userId}, and email address is #{email}.
          if isTutor
            p You are listed as a #[strong tutor] for this context, #{context_id}
          else
            p You are listed as a #[strong learner] for this context, #{context_id}
          p Congrats on your successful LTI connection!
